<div class="row">
  <div class="card col-md-6 offset-md-3 offset-md-3">
    <div class="row">
      <h3 class="text-center"> Update Book </h3>
      <hr />
      <div class="card-body">
        <form (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label> Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="book.name"
                   name="name">
          </div>

          <div class="form-group">
            <label> Year</label>
            <input type="text" class="form-control" id="year" [(ngModel)]="book.year"
                   name="year">
          </div>

          <div class="form-group">
            <label> Author Id</label>
            <input type="text" class="form-control" id="authorId" [(ngModel)]="book.authorId"
                   name="authorId">
          </div>
          <br />
          <button class="btn btn-success" type="submit">Submit</button>

        </form>
      </div>
    </div>
  </div>
</div>
